@import "reset.css";

/* font */
/* noto sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}
select {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
  }
  a {
    text-decoration: none;
  }

  .recommend, .best, .season-items, .links {
    width: 1440px;
    font-family: 'Noto Sans KR';
    margin: 0 auto;
  }

  body {
    position: relative;
    background-color: #ddd;
  }

/* 헤더 header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.header-inner {
    padding: 15px 80px;
    border: 1px solid red;
    width: 100%;
    color: #fff;
    /* display: fixed; */
    /* top: 0; */
}
.header-inner .top-inner {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
}
.language {
    color: #fff;
    background-color: transparent;
}
.language option {
    color: #000;
}
.header-logo {
    width: 166px;
    height: 40px;
}
.search-inner ul {
    display: flex;
}
.search-inner ul li {
    margin: 0 10px;
    position: relative;
}
.header-inner ul li a {
    color: #fff;

}
.search-inner ul li:first-of-type:after {

    display: none;
}
.search-inner ul li::after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: -10px;
    position: absolute;
}
.header-inner .bottom-inner {
    max-width: 1100px;
    text-align: center;
    padding: 40px 80px;
    margin: auto;
}
.menu-list {
    display: flex;
    justify-content: space-between;
}
.sub-header-ul {
    border: 1px solid red;
    width: 100%;
    display: flex;
    display: none;
}
.header-about ul {
    display: none;
}

/* slide  */
.swiper-slide img {
    width: 100%;
}
.swiper-button-next:after,
.swiper-button-prev:after {
   display: none;
}
.swiper-button-next.slider-next,
.swiper-button-prev.slider-prev {
    background: url(../img/slide-arrow-next.png) right center no-repeat;
    width: 68px;
    height: 68px;
    background-color: #ffffff7e;
    right: 0;
}
.swiper-button-prev.slider-prev {
    background: url(../img/slide-arrow-prev.png) right center no-repeat;
    left: 0;
    background-color: #ffffff7e;

}
.swiper-slider  {
    position: relative;
}
.slide-desc-inner {
    position: absolute;
    bottom: 200px;
    left: 200px;  
    color: #fff;  
    font-family: 'Noto Sans KR';

}
.slide-desc-inner .slide-desc {
    font-size: 18px;
}
.slide-desc-inner h1 {
    font-size: 36px;
    margin-top: 20px;
    font-weight: 500;
}
.swiper-slide:nth-of-type(2) .slide-desc-inner,
.swiper-slide:nth-of-type(4) .slide-desc-inner {
    color: #222;
}
.swiper-pagination.slider-page {
    width: 422px !important;
    height: 6px;
    bottom: 200px;
    position: absolute;
  }
  
  .swiper-pagination-bullet {
   display: none;
  }

  h1.title {
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 500;
  }


  /* recommend */
  .recommend {
    margin-top: 120px;
    text-align: center;
    border: 1px solid red;
  }
  .recommend h4 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
  }
  .recommend .desc {
    font-size: 15px;
    color: #6f6f6f;
    margin: 10px 0 20px;
  }
  .recommend .price {
    font-size: 15px;
  }
  .recommend img {
    width: 464px;
  }
  .recommend h1 {
    text-align: left;
  }
  .recommend-next,
  .recommend-prev {
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* best */
  .best {
    margin-top: 120px;
    position: relative;
  }
  .best-desc-inner {
    position: absolute;
    bottom: 100px;
    left: 160px;
  }
  .best-desc-inner .desc {
    font-size: 18px;
    color: #6f6f6f;
  }
  .best-desc-inner a {
    padding: 10px 20px;
    border: 1px solid #000;
    font-size: 15px;
    display: inline-block;
    margin-top: 20px;
  }


  /* season item  */
  .season-inner {
    margin-top: 120px;
  }
  .season-item-inner {
    display: flex;
    gap: 30px;
  }
  .season-item img {
    height: 542px;
  }
  .season-item:first-of-type img,
  .season-item:nth-of-type(3) img  {
    width: 342px;
  }
  .season-item:nth-of-type(2) img {
    width: 708px;
  }
  